/* 基础颜色, 红橙黄绿青蓝紫 */
/* 基础颜色变种 */
/* 基本html元素样式重置 */
a {
  color: #00b3b3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.cc-btn:hover {
  text-decoration: none;
}
/* 设置常用的 padding */
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.ptpb10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.plpr15 {
  padding-left: 15px;
  padding-right: 15px;
}
/* 设置常用的 margin */
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
/* 常用的 border-radius */
.bor-rad-xs {
  border-radius: 4px;
}
.bor-rad-sm {
  border-radius: 8px;
}
.bor-rad-md {
  border-radius: 12px;
}
.bor-rad-lg {
  border-radius: 16px;
}
.rounded {
  border-radius: 50%;
}
/* 常用的阴影 */
/* 边框 */
.bordered {
  border: 1px solid #ccc;
}
.bordered-darken {
  border: 1px solid #bbb;
}
.bordered-lighten {
  border: 1px solid #ddd;
}
/* 测试 */
.container {
  padding: 15px;
}
div {
  margin-bottom: 10px;
}
.cc-btn {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: white;
  background: #a6a6a6;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
}
.cc-btn-default:hover {
  background: grey;
}
.cc-btn-info {
  background: #00cccd;
}
.cc-btn-info:hover {
  background: teal;
}
.cc-btn-danger {
  background: #ff8080;
}
.cc-btn-danger:hover {
  background: #ff4d4d;
}
.cc-btn-primary {
  background: #6666ff;
}
.cc-btn-primary:hover {
  background: #3333ff;
}
.cc-btn-success {
  background: #00cd00;
}
.cc-btn-success:hover {
  background: green;
}
.cc-btn-warning {
  background: #ffc04d;
}
.cc-btn-warning:hover {
  background: orange;
}
